@import 'styles/mixins';
@import 'styles/colors';

.videoList {
  padding: 30px;
  background: $dark-main-color;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &__arrow {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    z-index: 10;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;

    &--left {
      left: 10px;
    }

    &--right {
      right: 10px;
    }
  }
}
